##### num = int(input("enter a number"))
if num > 0:
    print('Positive')
elif num < 0:
    print('Negative')
else:
    print('Zero')

 num = 5
if num > 0:
    print('positive')
elif num < 0:
    print('negative')
else:
    print('zero')

BY USING NESTED IF-ELSE

In [6]:
num=15
if num >=0:
    if num==0:
        print('zero')
    else:
        print('positive')
else:
    print('negative')

positive

BY USING TERNARY OPERATOR

In [9]:
num=-1
print('positive' if num>=0 else 'negative')

negative

Q.1 check whether a number is even or odd in python

using brute force

In [13]:
num=int(input("enter a number"))
if num%2==0:
    print("given number is even")
else:
    print('given number is odd')

enter a number 28

given number is even

by using ternary operator

In [15]:
num=int(input("enter a number"))
print("even" if num%2==0 else "odd")

enter a number 8

even

Q.2 find the sum of first n natural number

In [27]:
num=6
sum=0
for i in range(num+1):
    sum+=i
print(sum)

21

In [29]:
num = 5
sum = 0
for i in range(num+1):
  sum+=i
print(sum)

15

by using formula

In [30]:
num=5
print(int(num*(num+1)/2))

15

by using recursion

In [33]:
def getsum(num):
    if num==1:
        return 1
    return num + getsum(num-1)
num = 5
print(getsum(num))

15

Q.3 sum of n natural number

In [45]:
num, sum = int(input("enter a number")),0
for i in range(num+1):
    sum+=i
print(sum)

enter a number 8

36

In [41]:
num = int(input("enter a number"))
print(int((num*(num+1))/2))

enter a number 8

36

by recursion

In [46]:
def recursum(num):
    if num == 0:
        return num
    return num + recursum(num-1)
num,sum = int(input("enter a number")),0
print(recursum(num))

enter a number 8

36

Q.4 sum of number in given range

In [52]:
num1, num2, = 3,6
sum = 0
for i in range(num1,num2+1):
    sum+=i
print(sum)

18

by using formula

In [60]:
num1, num2 = 3, 6
sum = int((num2*(num2+1)/2) - (num1*(num1+1)/2 + num1))
print(sum)

12

Q.5 find greates of two no.

by usin if else

In [61]:
num1, num2 = 20, 40
if num1>num2:
    print(num1)
else:
    print(num2)

40

by using ternary operator

In [62]:
num1, num2 = 20, 40
print(num1 if num1>num1 else num2)

40

by using inbuilt max() function

In [63]:
num1, num2 = 20, 40
print(max(num1,num2))

40

Q.6 find the greatest of the three numbers in python

by usin if eles

In [76]:
num1, num2, num3 = 5,78,9
max = 0
if num1>=num2 and num1>=num3:
    print(num1)
elif num2>=num1 and num2>=num3:
    print(num2)
else:
    print(num3)

78

In [71]:
num1, num2, num3 = 10 , 30 , 20
max = 0
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

30

In [75]:
num1, num2, num3 = 122,522,2302
max = 0
if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

2302

by using nested if else

In [83]:
num1, num2, num3 = 85,69,254
max = 0
if num1 >= num2:
    if num1 >= num3:
        print(num1)
elif num2 >= num1:
    if num2 >= num3:
        print(num2)
    else:
        print(num3)

In [81]:
num1, num2, num3 = 10 , 350 , 550
max = 0
if num1 >= num2:
    if num1 >= num3:
        print(num1)
elif num2 >= num1:
    if num2 >= num3:
        print(num2)
    else :
        print(num3)

550